
body {
    font-family: 'articulat';
    color: $base-body-color;
    line-height: 1.5;
    font-size: 17px;
  }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
  }
  
  a {
    color: rgba(#000, 0.7);
  
    &:focus,
    &:hover {
      color: rgba(#000, 0.6);
    }
  }
  