<div class="footer">
  <div class="footer-links">
    <div class="link">
      <i class="fa fa-phone fa-fw"></i> <a href="06 °° °° °° °°  "> </a>
    </div>
    <div class="link">
      <i class="far fa-envelope"></i> <a href="mailto:contact@make-myday.fr">contact@make-myday.fr</a>
    </div>
    <div class="link">
      <i class="fab fa-linkedin-in"> <a href="https://fr.linkedin.com/in/stclarquedorerp"> </a> </i>
    </div>
  </div>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> 
  </div> %>
</div>