<div class="footer">
  <div class="footer-links">
    <div class="link">
      <i class="fa fa-phone fa-fw" style="color: #AE513B"></i> <a href=" 06 64 39 72 75 "> 06 64 39 72 75  </a>
    </div>
    <div class="link">
      <i class="far fa-envelope" style="color: #AE513B"></i> <a href="mailto:contact@make-myday.fr"> stephanie@make-myday.fr</a>
    </div>
    <div class="link">
      <i class="fab fa-linkedin-in" style="color: #AE513B"> </i> <a href="https://fr.linkedin.com/in/stclarquedorerp"> Stéphanie Clarque Doré</a>
    </div>
  </div>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> 
  </div> %>
</div>