<footer>
  <div class=reseaux>
    <p> Retrouver Stéphanie sur les réseaux sociaux</p>
      <ul>
        <li> <i class="fa fa-home fa-fw"></i> Make My Day Relation Presse</li>
        <li> <i class="fa fa-map-marker fa-fw"></i> 9200 Nanterre </li>
        <li> <i class="fa fa-phone fa-fw"></i> 06 °° °° °° °°  </li>
        <li> <i class="far fa-envelope"></i> <a href="mailto:contact@make-myday.fr">contact@make-myday.fr</a> </li>
        <li> <i class="fab fa-linkedin-in"></i> <a href="mailto:contact@make-myday.fr">contact@make-myday.fr</a> </li>
      </ul>
  </div>
</footer>