/* Utilisation de la police "regular" */
@font-face {
	font-family: 'articulat';
	src: url('/images/ArticulatMedium.ttf');
}
/* Utilisation de la police "Light" */
@font-face {
	font-family: 'articulat';
	font-weight: lighter;
	src: url('/images/fonts/ArticulatLight.otf');
	}