.footer {
    background: #F4F4F4;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
    margin: 10px;
    color: black;
  }
  .footer-links a {
    color: black;
    opacity: 0.60;
    text-decoration: none;
    font-size: 18px;

  }

  .link{
    margin: 10px;
  }
  .link:hover {
    opacity: 1;
  }
  // .footer .fa-heart {
  //   color: #D23333;
  // }

  @media (max-width: 992px) {

    .footer-links a {
      display:none;
    }

  }